@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}
* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
}
header {
    width: 100%;
    height: 55px;
    background-color: black;
}
header>a>.house {
    width: 50px;
    height: 50px;
    left: 4px;
    bottom: -3px;
    position: relative;
}

/*----헤더끝-----*/
section>img{
    width: 100%;
    height: 850.3px;
    z-index: 50;
}
/*-----이미지끝------*/
section>.first{
    position: absolute;
    z-index: 999;
    color: white;
    top: 200px;
    left: 130px;
    background-color: rgb(124, 46, 43);
    
    border: 3px solid  white;
}
section>.second{
    position: absolute;
    z-index: 999;
    color: white;
    top: 200px;
    left: 720px;
    background-color: rgb(124, 46, 43);
    border: 3px solid white;
}
section>.third{
    position: absolute;
    z-index: 999;
    color: white;
    top: 200px;
    left: 1210px;
    background-color: rgb(124, 46, 43);
    border: 3px solid white;
}
/* 모나리자 시작 */
section>.mona>img{
    position: absolute;
    top: 30%;
    width: auto;
    height: 60%;
    left: 3%;
    border: 20px solid #dca56b;
    border-image: url(../icon/액자.jpg) 30;
    transition: 0.5s;
}
section>.dabin{
    visibility: hidden;
    position:absolute; 
    top:32%;
    left: 4.2%;
    padding: 10px;
    width: 20.7%; 
    font-size: 17.5px;
    height: 530px;
}
.mona:hover+.dabin {
    visibility: visible;
    animation: fade_in_show 0.5s
}
section>.dabin:hover{
    visibility: visible;
    animation: fade_in_show 0.5s
}
/* 무제시작 */
section>.muje>img{
    position: absolute;
    top: 30%;
    width: auto;
    height: 60%;
    left: 31%;
    border: 20px solid #dca56b;
    border-image: url(../icon/액자.jpg) 30
}
section>.jang{
    visibility: hidden;
    position:absolute; 
    top:32%;
    left: 32%;
    padding: 10px;
    width: 350px; 
    font-size: 17.5px;
    height: 530px;
}
.muje:hover+.jang {
    visibility: visible;
    animation: fade_in_show 0.5s
}
section>.jang:hover{
    visibility: visible;
    animation: fade_in_show 0.5s
}
/* ---절규시작--- */
section>.cry>img{
    position: absolute;
    z-index: 999;
    top: 30%;
    width: auto;
    height: 60%;
    left: 67%;
    border: 20px solid #dca56b;
    border-image: url(../icon/액자.jpg) 30
}
section>.mung{
    visibility: hidden;
    position:absolute; 
    top:32%;
    left: 68%;
    padding: 10px;
    width: 350px; 
    font-size: 17.5px;
    height: 530px;
    z-index: 999;
}
.cry:hover+.mung {
    visibility: visible;
    animation: fade_in_show 0.5s
}
section>.mung:hover{
    visibility: visible;
    animation: fade_in_show 0.5s
}
/*화살표*/
.right>img{
    position: absolute;
    z-index: 999;
    border: 3px solid black;
    border-radius: 3000px;
    width: 3%;
    right: 10px;
    bottom: 380px;
}

